:root {
    --green-bg: lightgreen;
    --green-font:#00B03B;
}
body {
    color: var(--green-font);
}
h1 {
    background-color: white;
    opacity: 0.5;
    text-align: center;
    font-size: 5em;
}
.jumbotron {
    background-image: url(../Images/pizza.png);
    padding: 5em 0;
    margin-top: 1.25em;
}
.card, .card-header, .card-body, .card-footer{
    border-color: var(--green-font);
}
.card-footer, li.list-group-item, .green-div {
    background-color: var(--green-bg);
}
