/*
this file is named "site.css" and is in a directory named "css"
*/


/*This is from the exercise for Introduction to CSS*/
/*.fancy-header {*/
    /*color: purple;*/
    /*text-decoration: underline;*/
/*}*/

/*This is from the exercise for Selectors and Properties*/
body {
    background: pink url("../Images/background-for-welcome.jpg") no-repeat bottom right fixed;
    background-size: cover;
}

.fancy-header {
    text-align: center;
}

.pics {
    padding: 1px;
    width: 250px;
    height: 250px;
    transition: transform .2s;
}

.pics:hover {
    transform: scale(1.5);
}

.mascot {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 2px;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 10s;
    z-index: 1;
}

.mascot:hover {
    transform: scale(100);
}

h1,
h2,
h3,
h4,
h5 {
    color: brown;
    text-decoration: underline;
}

ul {
    list-style-type: square;
}